@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Roboto:wght@300;400;500&display=swap");
$withe: #ffffff;
$gray: #f1f2f6;
$darkGray: #87959e;
$green: #dafcd1;
$deepGreen: #2ad169;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/img/bgjpg.png);
}

#form {
  gap: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(74, 74, 74, 0.29);

  .form__title {
    color: #282e34;
    font-weight: 400;
  }

  .form__input {
    width: 90%;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    box-shadow: 0 1px 4px rgba(74, 74, 74, 0.29);
  }

  .form__input::placeholder {
    color: #bdbdbd;
  }

  button {
    border: none;
    color: $withe;
    font-size: 16px;
    cursor: pointer;
    font-weight: 400;
    padding: 10px 35px;
    border-radius: 30px;
    background-color: $deepGreen;
    box-shadow: 0 1px 4px rgba(74, 74, 74, 0.29);
  }
}
