@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Roboto:wght@300;400;500&display=swap");
$withe: #ffffff;
$gray: #f1f2f6;
$grayy: #ededed;
$darkGray: #87959e;
$green: #dafcd1;
$deepGreen: #2ad169;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(/img/bgjpg.png);
}

main {
  display: flex;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

#contactList {
  height: 100vh;
  width: 30vw;
  background-color: $withe;
}

.imgPerson {
  width: 40px;
  height: 40px;
  cursor: pointer;
  object-fit: cover;
  border-radius: 40px;
  object-position: center;

  margin: 5px 10px;
}

.form__search {
  gap: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 14px;
  background-color: $gray;

  .form__search--container {
    width: 100%;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: $withe;

    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
  }

  .inputSearch {
    border: none;
    background-color: transparent;
  }

  .form__search--logo {
    width: 18px;
    height: 18px;
  }
}

/* lista de contactos */
.chatList {
  width: 100%;
}

.chatList__element {
  width: 100%;
  color: $darkGray;
  border-top: 1px solid $grayy;
  border-bottom: 1px solid $grayy;

  display: flex;
  align-items: center;
  justify-content: center;
}
.chatList__element:hover {
  background-color: $grayy;
  cursor: pointer;
}

.chatList__info h4 {
  font-weight: 400;
  margin-bottom: 5px;
}

.chatList__text {
  width: 23vw;

  display: flex;
  justify-content: space-between;
}

.chatList__name {
  color: rgb(31, 31, 31);
}

.chatList__date {
  margin-right: 10px;
  font-size: 12px;
}

.chatList__message {
  font-size: 12px;
}

/* diseño del chat */
.chat {
  width: 70vw;

  .headerChat {
    width: 100%;
    height: 54px;
    position: fixed;
    border-left: $darkGray;
    background-color: $gray;

    figure {
      background-color: $gray;
    }

    div {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

#footerChat {
  width: 100%;
  height: 54px;
  bottom: 0;
  position: fixed;
  border-left: $darkGray;
  background-color: $gray;

  display: flex;
  align-items: center;
  justify-content: center;
}

.inputMessage {
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: $grayy;
}

@media (max-width: 815px) {
  .chatList__text {
    width: 80vw;
  }

  .chat {
    display: none;
  }

  #contactList {
    height: 100vh;
    width: 100vw;
  }
}
